<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.BoardMapper">
	<!-- insert -->
	<insert id="insert" parameterType="test.vo.BoardVo">
		insert into mboard values (mboard_seq.nextval, #{writer}, #{title}, #{content}, sysdate)
	</insert>
	<!-- selectList -->
	<select id="selectList" resultType="test.vo.BoardVo">
		select * from mboard
	</select>
	
	<!-- delete -->  
	<delete id="delete" parameterType="int">
		delete from mboard where num=#{num}
	</delete>      
	
	
	<!-- selectOne -->
	
	<!-- update -->
</mapper>